{% extends 'base.html' %}


{% block header %}

            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-12 col-xl-10 col-xxl-8">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="fw-bolder text-white text-center mb-2">{{ name }}</h1>
                                <h3 class="text-white text-center">Verifikat</h3>
                                <div class="row justify-content-md-center">
                                    <div class="col-4 lead fw-normal text-white-50">
                                        Antal fakturor: {{ n_invoices  | pretty_number}}<br>
                                        Utgifter:       {{ total_out   | round(2) | pretty_number}}<br>
                                        Intäkter:       {{ total_in    | round(2) | pretty_number}}<br>
                                        Balans:         {{ balance     | round(2) | pretty_number}}<br>
                                    </div>
                                    <div class="col-4 lead fw-normal text-white-50">
                                        Kontosaldo start: {{ period_info.get("account_start", "-")  | pretty_number}}<br>
                                        Kontosaldo slut:  {{ period_info.get("account_end"  , "-")  | pretty_number}}<br>
                                        Diff mot verifikat:  {{ ((period_info.get("account_end"  , 0) - period_info.get("account_start"  , 0)) - balance)  | pretty_number}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

{% endblock header %}


{% block content %}

            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        {% for category in invoices.category.unique() | sort %}
                        <div class="col-lg-12 mb-5 mb-lg-0"><h2 class="fw-bolder mt-5">{{ category | capitalize }}</h2><hr></div>
                        <div class="col-lg-12">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%">Datum</th>
                                        <th scope="col" style="width: 10%" class="text-right">Kostnad</th>
                                        <th scope="col" style="width: 80%">Namn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for index,invoice in invoices[invoices.category == category].sort_values('date').iterrows()%}
                                    <tr>
                                        <td>{{ invoice.date }}</td>
                                        <td class="text-right">{{ invoice.amount | pretty_number }}</td>
                                        <td><a title="Förhandsgranska" href="viewerjs/#../invoices/{{period}}/{{category}}/{{invoice.file_name}}"><i class="bi bi-search"></i></a> <a title="Ladda ner {{ invoice.invoice_name }}" href="invoices/{{period}}/{{category}}/{{invoice.file_name}}">{{ invoice.invoice_name }}</a></td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="table-active">
                                        <td><b>Summa:</b></td>
                                        <td class="text-right"><b>{{ invoices[invoices.category == category].amount.sum() | pretty_number }}</b></td>
                                        <td></td>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

{% endblock content %}
